<!DOCTYPE html>
<html>
    <head>
        <title>Simple Chat - Login</title>

        <link rel="stylesheet" href="../styles/main_style.css">
    </head>
    <body>
        <div class="app-container">
            <div class="header">
                <h1 class="enki-header"> Simple Chat - NQapp </h1>
            </div>
            <div class="login-container">
                <div class="login-username-contaier">
                    Username : 
                    <form action="/">
                        <input type="text" name="usermane">
                        <button type="submit"> Next </button>
                    </form>
                </div>
                <div class="login-password-container" style="display: none;">
                    <form action="/">
                        <input type="password" name="password">
                        <button type="submit"> Login </button>
                    </form>
                </div>
            </div>
        </div>
        
        <script src="../scripts/main_login.js"></script>
    </body>
</html>