<!DOCTYPE html>
<html>
    <head>
        <title>Simple Chat - Login</title>

        <link rel="stylesheet" href="front/styles/main_style.css">
    </head>
    <body>
        <div class="app-container">
            <div class="header">
                <h1 class="enki-header"> Simple Chat - NQapp </h1>
            </div>
            <div class="login-container">
                <div class="login-username-container" style="display: block;">
                    Username : 
                    <input type="text" name="usermane">
                    <button type="submit"> Next </button>

                    <p></p>
                </div>
                <div class="login-password-container" style="display: none;">
                    Password :
                    <input type="password" name="password">
                    <button type="submit"> Login </button>

                    <p></p>
                </div>
            </div>
        </div>
        
        <script src="front/scripts/main_login.js"></script>
    </body>
</html>